:global(@font-face) {
    font-family: Lindsay;
    src: url(../assets/lindsayef-webfont.eot) format('embedded-opentype'),
    url(../assets/lindsayef-webfont.svg)      format('svg'),
    url(../assets/lindsayef-webfont.woff)     format('woff'),
    url(../assets/lindsayef-webfont.woff2)    format('woff2');
    font-weight: bold;
}

:global(body) {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

:global(h3) {
    margin: 0;
}
