.largeLogoContainer {
    margin-top: 30px;
    text-align: center;
}

.largeLogoImage {
    background: url(../assets/title-card.png) no-repeat left center;
    background-size: contain;
    display: inline-block;
    height: 68px;
    position: relative;
}

.carkyText {
    color: #f7d221;
    font-family: Lindsay;
    font-size: 84px;
    left: 12px;
    margin-top: 0;
    position: relative;
    text-shadow: -2px 2px 4px #000;
    top: -14px;
}
