<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    <title>Welcome to Carky</title>

    <link href="resources/css/bootstrap.min.css" rel="stylesheet">
    <link href="resources/css/carky.css" rel="stylesheet">

    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="resources/js/json2.js"></script>
    <script src="resources/js/html5shiv.min.js"></script>
    <script src="resources/js/respond.min.js"></script>
    <![endif]-->
</head>
<body class="login-body">
    <div class="container">
        <div id="login-title-container">
            <div id="login-title">
                <span>Carcassonne</span>
            </div>
        </div>
        <div id="login-form-container">
            <div id="login-form">
                <form role="form" method="POST">
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                            <input type="text" class="form-control login-input" id="loginUsername" name="username" placeholder="Username" autofocus>
                        </div>
                    </div>
                    <div class="form-group">
                        <div class="input-group">
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                            <input type="password" class="form-control login-input" id="loginPassword" name="password" placeholder="Password">
                        </div>
                    </div>
                    <!-- Squared FOUR -->
                    <div class="checkbox">
                        <div class="squaredFour">
                            <input type="checkbox" value="None" id="squaredFour" name="check" checked>
                            <label for="squaredFour"><span>Remember Me</span></label>
                        </div>
                    </div>
                    <button type="button" id="login-help" class="btn btn-link">
                        <span class="glyphicon glyphicon-question-sign"></span> Help
                    </button>
                    <div id="login-submit-container">
                        <div class="form-group">
                            <button type="submit" class="btn btn-default">Sign In</button>
                        </div>
                    </div>
                    {{#csrfToken}}
                    <input type="hidden" name="{{parameterName}}" value="{{token}}"/>
                    {{/csrfToken}}
                </form>
                {{#csrfToken}}
                {{#error}}
                <span id="login-error">Invalid username or password.</span>
                {{/error}}
                {{/csrfToken}}
            </div>
            <div id="join-container">
                <!-- WYLO .... Get this working (add a token field and get Hibernate working). A Java UUID looks like this: 77973d3c-d23c-422a-8e10-18dc60a278b1 -->
                <button type="button" id="create-account-button" class="btn btn-default btn-lg">Create Account</button>
            </div>
        </div>
        <div id="create-account-container">
            <form role="form" method="POST" action="/register">
                <!--
                    When the username field is empty after a change:
                        - remove the "has-error"        class from #account-username-div
                        - remove the "has-success"      class from #account-username-div
                        - remove the "has-feedback"     class from #account-username-div
                        - add    the "hidden"           class to   #account-username-feedback-span

                    When the username is available:
                        - remove the "has-error"        class from #account-username-div
                        - add    the "has-success"      class to   #account-username-div
                        - add    the "has-feedback"     class to   #account-username-div
                        - remove the "glyphicon-remove" class from #account-username-feedback-span
                        - add    the "glyphicon-ok"     class to   #account-username-feedback-span
                        - remove the "hidden"           class from #account-username-feedback-span

                    When the username is not available:
                        - remove the "has-success"      class from #account-username-div
                        - add    the "has-error"        class to   #account-username-div
                        - add    the "has-feedback"     class to   #account-username-div
                        - remove the "glyphicon-ok"     class from #account-username-feedback-span
                        - add    the "glyphicon-remove" class to   #account-username-feedback-span
                        - remove the "hidden"           class from #account-username-feedback-span
                -->
                <div id="account-username-div" class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-user"></span></span>
                        <label class="control-label sr-only" for="accountUsername">Account Username</label>
                        <input type="text" class="form-control login-input" id="accountUsername" name="username" placeholder="Username" autofocus>
                        <span id="account-username-feedback-span" class="glyphicon glyphicon-ok hidden form-control-feedback"></span>
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" class="form-control login-input" id="accountPassword" name="password" placeholder="Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        <input type="password" class="form-control login-input" id="confirmAccountPassword" name="confirmPassword" placeholder="Confirm Password">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="email" class="form-control login-input" id="accountEmail" name="email" placeholder="Email">
                    </div>
                </div>
                <div class="form-group">
                    <div class="input-group">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"></span></span>
                        <input type="email" class="form-control login-input" id="confirmAccountEmail" name="confirmEmail" placeholder="Confirm Email">
                    </div>
                </div>
            </form>
        </div>
    </div>
    <script src="resources/js/jquery.min.js"></script>
    <script src="resources/js/underscore.min.js"></script>
    <script src="resources/js/backbone.min.js"></script>
    <script src="resources/js/bootstrap.min.js"></script>
</body>
</html>